@charset "UTF-8";

:root{
    --cor01:black;
    --cor02:#e7e52e;
    --cor03:#30344b;
    --cor04:#0c1123;
}

body{
    margin: auto;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(12, 17, 35);
    text-align: center;
}

header{
    text-align: center;
    border-bottom: 2px double var(--cor02);
    background-color: rgb(12, 17, 35);
}
div{
    margin-top: 15px;
}
div > a > img{
    max-width: 200px;
}

header > p{
    margin-bottom: 35px;
    margin-top: 3px;
}
nav{
    text-align: center;
    margin-bottom: 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 20px;
    border: 2px solid white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.097);
    border: 2px solid var(--cor02);
}

main{
    margin-top: -15px;
    background-color: white;
}

main > div{
        padding: 40px;

}
.inicial{
    background-image: url(fotos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main > div > h2{
    width: 1%;
    color: #e7e52e;
    font-weight: bolder;
    font-size: 3em;
}

.camionetes{
    margin-top: -15px;
    background-color: black;
    padding: -40px;
}
strong{
    color: #e7e52e;
}
footer{
    text-align: center;
    background-color: rgb(12, 17, 35);
    margin-top: 10px;
}